p,
span {
  text-align: center;
}

.progress {
  display: flex;
  justify-content: center;
}

.question-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
